<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <meta charset="utf-8">
    <title>Data Science Blue-Shifted</title>
    <link rel="icon" href="{% static 'DS.png' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" property="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      // availableFonts: ["STIX"],
      scale: 80
                   });
    </script> -->


    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    // jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": {scale: 10 },
    "SVG":{scale:60}
  });
</script>

<!-- <script>
    var MathJax = {"HTML-CSS": {scale: 130}};
</script> -->
<!-- <script type="text/javascript" src="path-to-MathJax/MathJax.js">
</script> -->


    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'>
    </script>



<!-- <script type="text/javascript" async
src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->

  </head>


  <body>

    <div id="fullWrap">
      <div id="fullHeader">
        <div class="centerWrap">
          <h1><i class="fa fa-cubes btn-select" onclick="window.location.assign('{% url 'index' %}');" style="margin-right:.5em;"></i>Data Science <span class='blue-shift'>Blue-Shifted</span> </h1>
          <div id="menuSection">

            <!-- <div class="menuBtn btn-select" onclick="window.location.assign('{% url 'appHome:main_blog' %}');">Blog</div>

            <div class="dropTab">
              <div class="menuBtn">Notebooks<i class="fa fa-angle-down" style="margin-left:.15em;"></i></div>
              <div class="dropBox">
                <div id="abutton" class="dropBtn"> <a href="{% url 'appHome:myseattle' %}">Seattle Bike Data</a> </div>
                <div id="seattle" class="dropBtn" onclick="newwin('{% url 'appHome:myseattle' %}');">Seattle Bike Data</div>
                <div id="pseudo" class="dropBtn" onclick="newwin('{% url 'appHome:pseudospectral' %}');">Pseudospectral Method</div>
              </div>
            </div> -->

            <!-- <div class="dropTab">
              <div class="menuBtn">Personal<i class="fa fa-angle-down" style="margin-left:.15em;"></i></div>
              <div class="dropBox">
                <div class="dropBtn" onclick="window.location.assign('{% url 'appHome:introduction' %}');">About</div>
                <div class="dropBtn">  <a href="{% static "appHome/Resume_Joshua-Lytle.pdf" %}">Resume</a> </div>
              </div>
            </div> -->


          </div>
        </div>
      </div>

      <div id="bodySection">
        <div class="centerWrap">

          <!-- <div class="imagediv">
            <img id="imgid" class="trialimg" src="{% static 'penn_waterfall1.jpg' %}">
            <div>View from the parking lot. Ten minutes from the office by foot.</div>
            <form class="trialform" id="pictid" action="penn.html" method="get">
              <select id="selectid" class="trialsel" name="penn-images" onChange="resrc(reval().substring(1));">
                {% for val in imgs %}
                <option class="trialobj" value="{% static val.0 %}"> {{ val.1 }} </option>
                {% endfor %}
              </select>
            </form>
            <div style="clear:both;"></div>
          </div> -->




          <div class="" style="margin-top:120px;">
<h2 style="text-align:left;margin-bottom:0px;margin-top:100px;"> Joshua Lytle</h2>
            <div class="index_Menu_div" style="margin-top:100px;padding-top:50px;">
              <p id="index_Menu_main" class="index_Menu" style="background:#eee;">
                <a href="#">Research</a>
              </p>
              <p class="index_Menu">
                <a href="{% url 'appHome:main_blog' %}">Blog</a>
              </p>
              <div class="" >
                <p class="index_Menu" onclick="newwin('https://github.com/joshualy');">
                  <!-- <a href="https://github.com/joshualy">GitHub</a> -->
                  GitHub
                </p>
              </div>

              <p class="index_Menu" onclick="newwin('{% static "appHome/Resume_Joshua-Lytle.pdf" %}');">
                <!-- <a href="{% static "appHome/Resume_Joshua-Lytle.pdf" %}">Resume</a> -->
                Resume
              </p>
            </div>

          </div>
<!-- style="margin-left:200px;" -->


          <div style="width:700px;margin-left:190px;margin-top:60px;padding-right:10px;">
            <h3>Background</h3>
            <p>
              I graduated from BYU (June 2017) with a PhD in mathematics. As a graduate student I was able to pursue my interests in PDEs and functional and numerical analysis, through studying numerically the stability properties of traveling wave solutions to nonlinear PDEs. Along the way I developed interests in Python programming and data science.
            </p>

            <p>
              While at BYU I studied multidimensional viscous detonations in the reactive Navier-Stokes equations. Detonations are usually studied in the inviscid setting. My colleague Blake Barker and several others had just looked at viscous detonations for the rNS equations; we then looked at the stability properties of multidimensional detonations. Because of the multi-parameter nature of these solutions, we parallelized our computations to run on BYU's supercomputer in Python.
            </p>


            <h3>Work</h3>

            <p>
              My graduate work required routine BVP-solving. I am working on a pseudospectral BVP solver in Python.  Also, there is a 6th order collocation method implemented in MATLAB by Jack Hale; I am making this routine available in Python.
            </p>
            <p>
              I am currently working for Linguistic Technologies, Inc, where I am rewriting key modules of the WordMAP writing aides software into Python from their legacy implementations in QuickBASIC. This core software can help students self-diagnose their writing ability, and has power to predict student outcomes on national exams. The software provides linguistic markers which can then be adopted for other natural language processing tasks.
            </p>
            <!-- <div class="" style="width:60%;float:center;margin-left:20%;margin-right:20%;">
              <img id="imgid" class="img_landing" src="{% static '2017-05-29_Ricketts_Glen.jpg' %}">
              <p> <i>Hiking through Ricketts Glen State Park, PA.</i>
              </p>
            </div> -->
          </div>




        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src={% static "main.js" %}></script>
</html>
