<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<!-- <style media="screen" type="text/css">

.imagediv{
max-width: 50%;
float:left;
margin: 1em;
margin-bottom: 0em;
margin-left:.5em;
padding-right:8px;
padding-left:0px;
padding-bottom:0px;
}
.trialform{
  display:none;
}
</style> -->



<div class="contain-intro" style="width:900px;">
  <h2 style="text-align:left;">About Me</h2>
  <!-- <div id="intro_img"  style="width:250px; float:center;padding-right:1em;"> -->
  <div class="img_intro" style="width:250px;float:left;padding-right:1em;margin-top:20px;">
    <img class="img_intro" src="{% static 'profile_pict.jpg' %}">
  </div>

  <div id="intro_txt" >
    <p style="padding-top:.8em;">
  Hi! My name is Joshua Lytle. I am fascinated with science and scientific computing technology - and got to explore each of these while working on my PhD in mathematics (June 2017).  My favorite tool to use as a data scientist is Python - although R has its own strengths. Python really shines as a general-purpose programming language, with its clear syntax and a wonderful, responsive community of users.
    </p>

    <p>
      When I am not programming, looking up a new cool machine learning algorithm, or exploring a dataset, I can be found working on the classical guitar or spending time with my family.
    </p>
  </div>

</div>

{% endblock %}
